<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0   https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>ossrh</id>
			<username>${env.OSSRH_USER_TOKEN}</username>
			<password>${env.OSSRH_PWD_TOKEN}</password>
		</server>
		<server>
			<id>central</id>
			<username>${env.ARTIFACTORY_USER_TOKEN}</username>
			<password>${env.ARTIFACTORY_PWD_TOKEN}</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>${env.ARTIFACTORY_USER_TOKEN}</username>
			<password>${env.ARTIFACTORY_PWD_TOKEN}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<gpg.keyname>${env.GPG_KEY}</gpg.keyname>
				<gpg.passphrase>${env.GPG_PWD}</gpg.passphrase>
			</properties>
			<repositories>
				<repository>
					<id>snapshots</id>
					<url>http://repository.rpgframework.de:8081/artifactory/libs-snapshot</url>
					<releases>
						<enabled>false</enabled>
					</releases>
				</repository>
				<repository>
					<id>releases</id>
					<url>http://repository.rpgframework.de:8081/artifactory/libs-release</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>