/bin/
/target/
/dist/
/export-libs/
/pom.xml.releaseBackup
/.classpath
/.settings
/backgrounds.html
/creature_features_types.html
/creature_types.html
/cultures.html
/educations.html
/feature_types.html
/masterships.html
/powers.html
/resources.html
/skills.html
/spell_types.html
/spells.html
/*.html